<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>contact-requests-page</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>From</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${contacts}">
        <td th:text="${contact.user.email}"></td>
        <td>
            <form th:action="/contact-requests/accept" method="POST">
                <input type="hidden" name="contacId" th:value="${contact.contact_id}">
                <button type="submit">Accept</button>
            </form>
            <form th:action="/contact-requests/decline" method="POST">
                <input type="hidden" name="contactId" th:value="${contact.contact_id}">
                <button type="submit">Decline</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>