<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>contact-requests-page</title>
</head>
<body>
    <div th:if="${contacts.isEmpty()}">
        <p>You don't have any buddy request</p>
        <div><a th:href="@{/add-contact}">Add a contact</a></div>
        <div><a th:href="@{/logout}">Logout</a></div>
    </div>

    <div th:if="${not contacts.isEmpty()}">
        <table>
            <thead>
                <tr>
                    <th>User Email</th>
                    <th>Buddy Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contact.getUser().getEmail()}"></td>
                    <td th:text="${contact.getBuddy().getEmail()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>