<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>contact-requests-page</title>
</head>
<body>
<div class="mx-4 my-4">
    <div class="d-flex justify-content-between" style="height:40px">
        <a type="button" class="btn paymybuddybutton" th:href="@{/home}">Pay My Buddy</a>
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/home}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Transfer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact-requests}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Log off</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="px-3 py-2 mt-1" style="background-color: #F5F5F5; border-radius: 2px"><span style="color:dodgerblue">Home   /   <span style="color:grey">Contact</span></span></div>

    <h1>All your Buddies</h1>

    <div th:if="${contacts.isEmpty()}">
        <p>You don't have any buddy request</p>
        <div><a th:href="@{/add-contact}">Add a contact</a></div>
        <div><a th:href="@{/logout}">Logout</a></div>
    </div>

    <div th:if="${not contacts.isEmpty()}">
        <table>
            <thead>
                <tr>
                    <th>User Email</th>
                    <th>Buddy Email</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact : ${contacts}">
                    <td th:text="${contact.getUser().getEmail()}"></td>
                    <td th:text="${contact.getBuddy().getEmail()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>